argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
fugle-trade==1.0.0
fugle-trade-core==1.0.0
grpcio==1.56.2
grpcio-tools==1.56.2
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
keyring==23.5.0
keyrings.cryptfile==1.3.8
MarkupSafe==2.1.3
numpy==1.25.2
pika==1.3.2
prometheus-client==0.17.1
protobuf==4.24.0
pycparser==2.21
pycryptodome==3.18.0
python-dotenv==1.0.0
requests==2.31.0
schedule==1.2.0
urllib3==2.0.4
websocket-client==1.6.1
zipp==3.16.2
